version: 2
jobs:
  build:
    docker:
      - image: circleci/python:2.7.15
      
    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: install dependencies
          command: |
            python --version
            pip install -q platformio --user
            echo 'export PATH=~/.local/bin:$PATH' >> $BASH_ENV
      
      - run:
          name: Build Application
          command: |
            platformio run
     
